<!-- File: chapter2/ng-repeat-track-by-id.html -->
<html ng-app="notesApp">
<head>
  
  <style>
    .label{
      color:blue;
    }  
    
  </style>  


</head>  
<body ng-controller="MainCtrl as ctrl">

  <button ng-click="ctrl.changeNotes()">Change Notes</button>
  <br/>
  <button ng-click="ctrl.changeCSS()">Change Background Color</button>
  <br/>
  
  DOM Elements change every time someone clicks
  <div ng-repeat="note in ctrl.notes1">
    {{note.$$hashKey}}
    <span class="label" style="{{note.css1}}"> Label is:  {{note.label}} </span>
    <span class="author" ng-bind="note.done"></span>
  </div>

  <br/>
  DOM Elements are reused every time someone clicks
  <div ng-repeat="note in ctrl.notes2 track by note.id">
    {{note.$$hashKey}}
    <span class="label" style="{{note.css1}}"> Label is: {{note.label}} </span>
    <span class="author" ng-bind="note.done"></span>
  </div>

<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js">
</script>
<script type="text/javascript">
  angular.module('notesApp', [])
    .controller('MainCtrl', [function() {
      var self = this;
      var notes = [
        {
          id: 1,
          label: 'First Note',
          done: false,
          someRandom: 31431,
          css1:'background-color:orange'
        },
        {
          id: 2,
          label: 'Second Note',
          done: false,
          css1:'background-color:orange'
        },
        {
          id: 3,
          label: 'Finished Third Note',
          done: true,
          css1:'background-color:orange'
        }
      ];
      self.notes1 = angular.copy(notes);
      self.notes2 = angular.copy(notes);
      self.changeNotes = function() {
        notes = [
          {
            id: 1,
            label: 'Changed Note',
            done: false,
            someRandom: 4242,
            css1:'background-color:orange'
          },
          {
            id: 2,
            label: 'Second Note',
            done: false,
            css1:'background-color:cyan'
          },
          {
            id: 3,
            label: 'Finished Third Note',
            done: true,
            css1:'background-color:orange'
          }
        ];
        
        self.notes1 = angular.copy(notes);
        self.notes2 = angular.copy(notes);
      };
      
      self.changeCSS = function(){
        console.log("Made it in");
        notes[1].css1 = "background-color:yellow";
        self.notes1 = angular.copy(notes);
        self.notes2 = angular.copy(notes);
        console.log("notes[1].css1 is: " + notes[1].css1);
      }
        
        
      
      
    }]);
</script>
</body>

</html>